extends layout

block content
  #container
    div(id="users")
      a please choose a identity
      br
      input(type="button" value="Dave" onclick="chooseUser(1608546447754)")
      input(type="button" value="Gave" onclick="chooseUser(1608546476120)")
    div(id="notesPage")
      div(id="notes" class="row")
    div(id="readNote")
      input(class="Infofield" id="Title").form-control.btn
      br
      br
      textarea(class="Infofield" id="Content" cols="22" rows="10").form-control
      input(type="button" value="save")