body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
  this is for my poor css knowlegde
  so i can easily see where my stuff appears.

div {
  border: dotted;
}
*/

#Infofield {
  left: 20%;
}